* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    color: white;
    background-color: black;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 64px;
}

nav {
    width: 100%;
    height: 64px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: fixed;
    z-index: 999;
    box-sizing: border-box;
    transition: 0.7s;
    color: white;
}

nav.nav-active {
    background-image: url(img/bg-luarangkasa-opsiterakhir);
    border-radius: 50px;
    color: black;
    height: 70px;
    box-shadow: 2px 2px 10px #252525;
    width: 90%;
    margin-left: 70px;
    margin-top: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 99999;
}


nav ul {
    list-style-type: none;
    display: flex;
    gap: 100px;
}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}


nav div img {
    width: 70px;
    padding-top: 15px;
}

/* Header End */

/* MAIN */
/* Home Section */
#home {
    width: 100%;
    height: 100vh;
    margin: 0 30px;
    padding-top: 20px;
}

.card {
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
}
.card-wrapper {
    width: 200px;
    height: 200px;
    transition: 0.5s;
}
.card-wrapper:hover {
    width: 250px;
    height: 450px;
    border: 10px solid white;
    border-radius: 10px 10px 30px 30px;
    background-color: white;
}
.card-wrapper:hover .imgbox img{
    width: 250px;
    height: 250px;
}
.card-wrapper:hover .desc p {
    display: inline-block;
    color: black;
}
.card-wrapper:hover .desc h1 {
    color: black;
}

.imgbox {
    display: flex;
    position: relative;
    transition: 0.5s;
}
.imgbox img {
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

.desc {
    text-align: center;
    transition: 0.5s;
}
.desc h1 {
    color: #F4CE14;
    transition: 0.5s;
}


.desc p {
    display: none;
    text-align: start;
    padding-top: 10px;
    transition: 0.5s;
}


/* Card 2 */
.card-2 {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 300px;
    margin-top: -220px;
}
.card-wrapper-2 {
    width: 200px;
    height: 200px;
    transition: 0.5s;
    display: flex;
    background-color: white;
}
.card-wrapper-2:hover {
    width: 450px;
    height: 250px;
    border: 10px solid white;
    border-radius: 10px 30px 30px 10px;
}
.card-wrapper-2:hover .imgbox-2 img{
    width: 250px;
    height: 250px;
}
.card-wrapper-2:hover .desc-2 p {
    display: inline-block;
    color: black;
}
.card-wrapper-2:hover .desc-2 h1 {
    display: inline-block;
    color: black;
}

.imgbox-2 {
    display: flex;
    position: relative;
    transition: 0.5s;
}
.imgbox-2 img {
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

.desc-2 {
    text-align: center;
    transition: 0.5s;
    padding-left: 10px;
}
.desc-2 h1 {
    color: #F4CE14;
    transition: 0.5s;
    display: none;
}


.desc-2 p {
    display: none;
    padding-top: 10px;
    transition: 0.5s;
    text-align: start;
}
/* Card 2 End */

/* Card 3 */
.card-3 {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 550px;
    margin-top: -452px;
    z-index: 999;
}
.card-wrapper-3 {
    width: 200px;
    height: 200px;
    transition: 0.5s;
    display: flex;
    background-color: white;
}
.card-wrapper-3:hover {
    width: 450px;
    height: 250px;
    border: 10px solid white;
    border-radius: 10px 30px 30px 10px;
}
.card-wrapper-3:hover .imgbox-3 img{
    width: 250px;
    height: 250px;
}
.card-wrapper-3:hover .desc-3 p {
    display: inline-block;
    color: black;
}
.card-wrapper-3:hover .desc-3 h1 {
    display: inline-block;
    color: black;
}

.imgbox-3 {
    display: flex;
    position: relative;
    transition: 0.5s;
}
.imgbox-3 img {
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

.desc-3 {
    text-align: center;
    transition: 0.5s;
    padding-left: 10px;
}
.desc-3 h1 {
    color: #F4CE14;
    transition: 0.5s;
    display: none;
}


.desc-3 p {
    display: none;
    padding-top: 10px;
    transition: 0.5s;
    text-align: start;
}

/* Card 4 */
.card-4 {
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    margin-left: 1040px;
    margin-top: -260px;
}
.card-wrapper-4 {
    width: 200px;
    height: 200px;
    transition: 0.5s;
}
.card-wrapper-4:hover {
    width: 250px;
    height: 450px;
    border: 10px solid white;
    border-radius: 10px 10px 30px 30px;
    background-color: white;
}
.card-wrapper-4:hover .imgbox-4 img{
    width: 250px;
    height: 250px;
}
.card-wrapper-4:hover .desc-4 p {
    display: inline-block;
    color: black;
}
.card-wrapper-4:hover .desc-4 h1 {
    color: black;
}

.imgbox-4 {
    display: flex;
    position: relative;
    transition: 0.5s;
}
.imgbox-4 img {
    width: 200px;
    height: 200px;
    transition: 0.5s;
}

.desc-4 {
    text-align: center;
    transition: 0.5s;
}
.desc-4 h1 {
    color: #F4CE14;
    transition: 0.5s;
}


.desc-4 p {
    display: none;
    text-align: start;
    padding-top: 10px;
    transition: 0.5s;
}

/* Card 4 End */

/* Dashed Line */
.line-arrow-1 {
    width: 300px;
    position: relative;
    display: flex;
    bottom: 244px;
    left: 18px;
    z-index: -99999;
    transform: rotate(210deg);
}
.line-arrow-2 {
    width: 270px;
    position: relative;
    display: flex;
    bottom: 235px;
    left: 410px;
    z-index: -9999;
    transform: rotate(139deg);
}
.line-arrow-3 {
    width: 350px;
    position: relative;
    display: flex;
    bottom: 500px;
    left: 688px;
    z-index: -9999;
    transform: rotate(180deg);
}

/* Dashed Line End */
/* Home Section End */

/* Kampang Team */
#kampang {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 5%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    position: relative;
    gap: 30px;
    flex-direction: column;
}

#kampang {
    display: flex;
    align-items: center;
}
#kampang h1 {
    color: #F4CE14;
    font-size: 35px;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 1300px;
    height: 450px;
    transition: all 400ms;
    
}

.box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box::after{
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
}

.container:hover .box {
    filter: grayscale(100%) opacity(24%);
}

.box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 200ms;
}

.container .box:hover {
    filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
}
.container:has(.box-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}
.container:has(.box-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
}
.container:has(.box-6:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
}
.container:has(.box-7:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
    transform: translateY(-16px);
}

.box:nth-child(even) {
    transform: translateY(16px);
}
/* Kampang Team End */

/* Section Story */
#story {
    width: 100%;
    height: 200vh;
    margin-top: 60px;
}
.nav-story {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 1px solid #F4CE14;
}
.sort-list {
    margin-right: 100px;
}
.sort-list p{
    display: flex;
    width: 100px;
    padding: 10px;
    font-size: 25px;
    gap: 10px;
    box-sizing: border-box;
}
.sort-list p span {
    transform: rotate(90deg);
    font-family: monospace;
}
.sort-list ul {
    position: absolute;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: left;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    text-decoration: none;
}
.sort-list ul li {
    text-decoration: none;
    list-style-type: none;

}
.sort-list li a {
    display: flex;
    color: black;
    padding: 10px 0 10px 20px;
    font-size: 20px;
    box-sizing: border-box;
    transition: all .3s;
    list-style-type: none;
    text-decoration: none;

}
.sort-list p:hover ~ ul, ul:hover {
    opacity: 1;
    visibility: visible;
}
.sort-list a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
}
.latest-story {
    margin-top: 30px;
    padding: 0 30px;
}
.latest-story:nth-child(2) {
    align-items: center;
    display: flex;
    flex-direction: column;
}
/* busines-story */
.business-story {
    width: 100%;
    height: 500px;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}
.ruebe {
    width: 260px;
    height: 400px;
    display: flex;
    border-left: 10px solid rgb(19, 19, 19);
    border-right: 10px solid rgb(19, 19, 19);
    background-color: rgb(19, 19, 19);
    flex-direction: column;
    align-items: center ;
    gap: 15px;
    border-radius: 0 0 30px 30px;
}


.business-img {
    width: 220px;
    height: 220px;
}
.business-img img{
    width: 100%;
    height: 100%;
}

.business-desc {
    text-align: center;
}
.business-desc p:last-child {
    text-align: start;
}
/* Bisnis Kedua */

.goldchick {
    width: 260px;
    height: 400px;
    display: flex;
    border-left: 10px solid rgb(19, 19, 19);
    border-right: 10px solid rgb(19, 19, 19);
    background-color: rgb(19, 19, 19);
    border-radius: 0 0 30px 30px;
    flex-direction: column;
    align-items: center ;
    gap: 15px;
}


.goldchick-img {
    width: 220px;
    height: 220px;
}
.goldchick-img img{
    width: 100%;
    height: 100%;
}

.goldchick-desc {
    text-align: center;
}
.goldchick-desc p:last-child {
    text-align: start;
}
/* busines-story end */
/* Nongkrong*/
.nongkrong {
    background-color: rgb(27, 27, 27);
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}
.img-nongkrong-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;

}
.img-nongkrong-1 {
    width: 300px;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    transition: 0.5s;
}
.img-nongkrong-1 img {
    width: 100%;
    position: relative;

}
.img-nongkrong-1 h1~p {
    position: relative;
    display: none;
    transition: 0.5s ease-in-out;
}
.img-nongkrong-1:hover h1~p{
    display: inline-block;
}
.img-nongkrong-1:hover h1 {
    color: #F4CE14;
}
.img-nongkrong-1:hover {
    background-color: #252525;
}
/* nongki 2 */
.img-nongkrong-2 {
    width: 300px;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    transition: 0.5s;
}
.img-nongkrong-2 img {
    width: 100%;
    position: relative;

}
.img-nongkrong-2 h1~p {
    position: relative;
    display: none;
    transition: 0.5s ease-in-out;
}
.img-nongkrong-2:hover h1~p{
    display: inline-block;
}
.img-nongkrong-2:hover h1 {
    color: #F4CE14;
}
.img-nongkrong-2:hover {
    background-color: #252525;

}
/* nongkrong 3 */
.img-nongkrong-3 {
    width: 300px;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    transition: 0.5s;
}
.img-nongkrong-3 img {
    width: 100%;
    position: relative;

}
.img-nongkrong-3 h1~p {
    position: relative;
    display: none;
    transition: 0.5s ease-in-out;
}
.img-nongkrong-3:hover h1~p{
    display: inline-block;
}
.img-nongkrong-3:hover h1 {
    color: #F4CE14;
}
.img-nongkrong-3:hover {
    background-color: #252525;

}
/* nongkrong 4 */
.img-nongkrong-4 {
    width: 300px;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    transition: 0.5s;
}
.img-nongkrong-4 img {
    width: 100%;
    position: relative;

}
.img-nongkrong-4 h1~p {
    position: relative;
    display: none;
    transition: 0.5s ease-in-out;
}
.img-nongkrong-4:hover h1~p{
    display: inline-block;
}
.img-nongkrong-4:hover h1 {
    color: #F4CE14;
}
.img-nongkrong-4:hover {
    background-color: #252525;

}
/* Nongkrong End*/
/* Section Story End */
/* MAIN End */